header{
    width: 1273px;
height: 68px;
display: flex;
align-items: center;
justify-content: space-around;
background-color: grey;
margin: 0 auto;
margin-top: 0px;
margin-left: 140px;
border: none;
position: sticky;
top: 10px;
}
nav{
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    color: #fff;
    text-decoration: none;
}
nav a:hover{
    color: #ff000f;
}
header input{
    width: 241.87px;
height: 30px;
border-radius: 5px;
background: rgba(64, 72, 100, 1);
}
select{
    width: 165.49px;
height: 30px;
background-color: #000;
color: #fff;
border: 0.5px solid #fff;
}
select option{
    color: #fff;
}
.box{
    width: 1273px;
height: 554px;
    background-image: url("./Bg.png");
    margin-left: 140px;
}
.box h1{
    color: #fff;
}
.box2{
    width: 1500px;
height: 2000px;
background-color: #000;
}
.box3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box3 div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1{
    text-align: center;
    color: #fff;
}
.box4{
    width: 1189px;
height: 928px;
background: rgba(27, 30, 39, 1);
margin-left: 150px;
}
.left{
    width: 1000px;
height: 350px;
display: flex;
align-items: center;
justify-content: space-around;
margin-left: 100px;

}
.left p{
    width: 323px;
height: 266px;
color: #fff;

}
.left h1{
    position: absolute;
    top: 950px;
    left: 330px;
}
.reght{
    width: 1000px;
height: 350px;
display: flex;
align-items: center;
justify-content: space-around;
margin-left: 100px;

}
.reght p{
    width: 323px;
height: 266px;
color: #fff;

}
.reght h1{
    position: absolute;
    top: 1300px;
    left: 330px;
}
footer{
    width: 1273px;
height: 68px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: grey;
margin-left: 100px;

}
